body{
  display: block;
  margin: 8px;
  background-color: rgba(204, 204, 204, 0.22);
}
.wrapper {
    width: 1000px;
    padding: 40px;
    margin: 0 auto;
    background-color: #ccc;
}
blockquote {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
    padding: 15px 30px;
    margin: 0;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.wrapper h3 {
    font-family: "Crete Round", Georgia, Times New Roman, serif;
    font-size: 18px;
    color: #14877E;
}
.wrapper pre {
    color: #767676;
    border: 1px solid #DCDCDC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 14px;
}
.wrapper h2{
  text-align: center;
  color: red;
  margin-bottom: 15px;
}
